@inherits LayoutComponentBase
@using blzZmq1.Services

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @if (!AppData.GithubLoggedIn)
        {
            <a href="">Login</a>
        }
        else
        {
            <a href="">Logout</a> //needs to empty the credential information
        }
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>