@inherits LayoutComponentBase
@using blzZmq1.Services

@inject IJSRuntime JSRuntime
@inject IUserSettingsService UserSettingsService


<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @if (!isUserLoggedInGithub)
        {
            <a href="">Login</a>
        }
        else
        {
            <a href="">Logout</a>//needs to empty the credential information
        }
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>

@code{

    bool isUserLoggedInGithub = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        foreach (var property in typeof(UserSettingsService).GetProperties())
        {
            var value = await JSRuntime.InvokeAsync<object>("UserCookies.GetCookie", property.Name);

            if (value != null)
                property.SetValue(this.UserSettingsService, ConvertType.ChangeType(value.ToString(), property.PropertyType));
            else
                await JSRuntime.InvokeAsync<string>("UserCookies.WriteCookie", property.Name, property.GetValue(this.UserSettingsService).ToString(), null);
        }
    }
}