<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor4Monica</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fileInput" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> ZMQ Producer
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="consumer" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> ZMQ Consumer
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fileInput2" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> ZMQ push 2 -test
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
