@page "/consumer"
@using blzZmq1.Services
@using NetMQ
@inject Services.AppData AppData


<h3>Consumer</h3>
<button @onclick="Consumerf">Recive via ZMQ and show the content</button>
<p class="fixwidth">@answer</p>

@code {
    private string answer { get; set; } = "the answer";
    private void Consumerf()
    {
        using (var consumer = new PullSocket())
        //using (var producer = new RequestSocket())
        {
            //consumer.Connect("tcp://localhost:7777");
            consumer.Connect(AppData.ServerPullAddress + ":" + AppData.ServerPullPort);
            answer = consumer.ReceiveFrameString();

            System.Threading.Thread.Sleep(3000);


        }
    }

}
