@page "/highcharts"
@using blzZmq1.Components
@inject Services.JsonToChart ChartData
@using Newtonsoft.Json


<Highchart Json="@chartjson">

</Highchart>
<div> @series1</div>
@code{

    //public object chartData = blzZmq1.Services.JsonToChart.ConvertJson();
    //public static object
    //
    //           var firstItems = (chartData.Data[0].OutputIds[9].Result as List<object[]>).ToList<float[]>().Select(x => x[0]).ToList();

    public static string xAxsis = blzZmq1.Services.GetInfoFromJson.GetDate();
    public static string series1 = blzZmq1.Services.GetInfoFromJson.GetPrecip();




    public static string chartTypeName = "area";  // has to get from json
    public static string chartTitleName = "Monica Model from json message";
    public static string chartOrigSpec = "Daily";
    string chartjson = @" {
                    chart: {
                        type: '" + chartTypeName + @"'
                    },

                    title: {
                        text: '" + chartTitleName + @"'
                    },

                    subtitle: {
                        text: '" + chartOrigSpec + @"'
                    },

                    yAxis: {
                        title: {
                            text: 'Crop'
                        }
                    },

                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                         categories: [" + xAxsis + @"],
                    },

                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },

                    plotOptions: {
                        series: {
                            label: {
                                connectorAllowed: false
                            },

                        }
                    },

                    series: [{
                        name: 'Precip',
                        data: [" + series1 + @"]
                    }, {
                        name: 'Manufacturing',
                        data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
                    }, 

                    ],

                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    },




                    }";


}