 @page "/"


<h1>Blazor interface for Monica</h1>
Using ZeroMQ for Producer-Consumer
<br />


<SurveyPrompt Title="-- " />
<p>
<h2>Road Map</h2>
<ul>
    <li>Fix Loading the proper chart by selcting in History</li>
    <li>Fix comma/dot in CSV output</li>
    <li>Chart Loading Optimizaton</li>
    <li>Make Consumer somehow automatic- await- get respond when the answer is ready</li>
    <li>let the user load jsons, if not uploaded use the default ones</li>
    <li>Add Help</li>
    <li>Capnp version of Blazor to send and recieve data</li>
    <li>Optimise interface</li>
</ul>
</p>
