 @page "/"


<h1>Blazor interface for Monica</h1>
Using ZeroMQ for Producer-Consumer
<br />


<SurveyPrompt Title="-- " />
<p>
<h2>Road Map</h2>
<ul>
    <li>Change Json parser to draw the chart based on any type of data, not only daily charts</li>
    <li>Let the user select xAxsis for unknown data</li>
    <li>Consumer page shows the answer as chart. History page can still be a different page</li>
    <li>Chart Loading Optimizaton</li>
    <li>Make Consumer somehow automatic- await- get respond when the answer is ready</li>
    <li>Monica Parameters uploadbale by user</li>
    <li>Add Help</li>
    <li>Capnp version of Blazor to send and recieve data</li>
    <li>Optimise interface</li>
</ul>
</p>
