@page "/"

<h1>Blazor interface for Monica</h1>
Using ZeroMQ for Producer-Consumer
<br />


<SurveyPrompt Title="-- " />
<p>
<h2>Road Map</h2>
<ul>
    <li>Make a link for CSV output</li>
    <li>CSV output link in Chart page</li>
    <li>Real Chart based on input Json</li>
    <li>Make Consumer somehow automatic- await- get respond when the answer is ready</li>
    <li>let the user load jsons, if not uploaded use the default ones</li>
    <li>Add Help</li>
    <li>Capnp version of Blazor to send and recieve data</li>
    <li>Optimise interface</li>
</ul>
</p>
