@page "/"
@using blzZmq1.Services


<h1>Blazor interface for Monica</h1>
Using ZeroMQ for Producer-Consumer
<br />


<SurveyPrompt Title="-- " />
<p>
    <h2>Road Map</h2>
    <ul>
        <li>Choose between Monica results on Github or just downlaod</li>
        <li>Chart Loading problem for chart selection page</li>
        <li>Chart Selection bugs must be fixed</li>
        <li>Add Help</li>
        <li>Capnp version of Blazor to send and recieve data</li>
        <li>Optimise interface</li>
    </ul>
</p>
<hr />
<div class="row m-3">
    <div class="col-md-6">
        <h3>Login into your gitHub</h3>
        @if (!AppData.GithubLoggedIn)
        {
            <RadzenCard>
                <RadzenLogin AllowRegister="false" AllowResetPassword="false" Login="@((args) => Login(args, "Github Authentication"))" Style="margin-bottom: 20px;" />
            </RadzenCard>
        }
        else
        {
            <span class="bg-success p-2 m-2 rounded">Logged in successfully</span>
            <p class="m-2 p-2">
                <button class="btn btn-danger btn-sm" type="button" @onclick="(() => Logout())">Logout</button>
            </p>
        }
        @if (result == false && firstRun == false)
        {
            <span class="bg-danger p-2">Wrong userName or password</span>
        }
    </div>
</div>

@code {

    Boolean result;
    Boolean firstRun = true;

    void Login(LoginArgs args, string name)
    {

        StateHasChanged();

        AppData.GithubUserName = args.Username;
        AppData.GithubPassword = args.Password;
        blzZmq1.Services.Github.IGithubService g = new blzZmq1.Services.Github.GitHubParameters();
        result = g.Login();
        firstRun = false;
        AppData.GithubLoggedIn = result;

    }

    void Logout()
    {
        StateHasChanged();
        blzZmq1.Services.Github.IGithubService g = new blzZmq1.Services.Github.GitHubParameters();
        result = g.Logout();

    }
}
