@page "/setting"
@using System.IO;
@using System.Linq;
@using blzZmq1.Services

<h3>Setting</h3>

<label for="basic-url">Your ZeroMQ server Address</label>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Server Push Address:</span>
    </div>
    <input type="text" class="form-control" aria-describedby="basic-addon3" @bind="AppData.ServerPushAddress">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Server Push Port:</span>
    </div>
    <input type="number" class="form-control" aria-describedby="basic-addon3" @bind="AppData.ServerPushPort">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Server Pull Address:</span>
    </div>
    <input type="text" class="form-control" aria-describedby="basic-addon3" @bind="AppData.ServerPullAddress">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Server Pull Port:</span>
    </div>
    <input type="number" class="form-control" aria-describedby="basic-addon3" @bind="AppData.ServerPullPort">
</div>
<p> </p>
<label for="basic-url">Your GitHub Authentication information</label>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">User Name:</span>
    </div>
    <input type="text" class="form-control" aria-describedby="basic-addon3" @bind="AppData.GithubUserName">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Password:</span>
    </div>
    <input type="password" class="form-control" aria-describedby="basic-addon3" @bind="AppData.GithubPassword">
</div>
<button @onclick="Login"></button>
<p>Logged in: @result</p>
@code {
    Boolean result;
    void Login()
    {
        blzZmq1.Services.Github.IGithubService g = new blzZmq1.Services.Github.GitHubParameters();
        result = g.Login();
    }


    // // it is supposed later makeing this code to read settings from an ini file. Not sure if it is a good idea
    /*private const String ConfigFileName = "Config.ini";


    public Dictionary<string, string> readConfigFile()
    {
        var lines = File.ReadAllLines(ConfigFileName);
        Dictionary<string, string> dict = new Dictionary<string, string>();
        foreach (string s in lines)
        {
            string[] split = s.Split("=");
            dict.Add(split[0], split[1]);
        }

        return dict;
    }*/

    // //string s = string.Join(";", dict.Select(x => x.Key + "=" + x.Value).ToArray());

}
