@page "/zmqproducer"
@using blzZmq1.Services
@using Mas.Rpc
@inject IFileUpload fileUpload
@inject Services.AppData AppData
@inject Services.ZmqProducer RunProducer

<h3>Send ENV via ZMQ</h3>
    <p><strong>Create the ENV</strong> from Monica parameters and send it to zmq server</p>
    <button @onclick="CreateMassage">Send the ENV</button>
    <p>@isSent</p>
    <p class="fixwidth">@envContent</p>

@code {

   // IFileListEntry file;
    string envContent;
    //public static string sssdds = Services.ZmqProducer.RunProducer();
    string isSent = "Not Sent yet";
    async Task CreateMassage() // call ZmqProducer calss
    {
        //var envService = EnvClient.GetMain<Mas.Rpc.Monica.IEnv>();
        //env = await envService.Create("bla", "bli", "blo");

        envContent = Services.ZmqProducer.RunProducer();
        //RunProducer();



        //push msg here...
        using (var producer = new PushSocket())
        {
            producer.Connect(AppData.ServerPushAddress + ":" + AppData.ServerPushPort);
            producer.SendFrame(envContent);
            System.Threading.Thread.Sleep(2000);
            isSent = "Message sent successfully";
            producer.Disconnect(AppData.ServerPushAddress + ":" + AppData.ServerPushPort);
        }

    }

}
